html, body {
  font-family: Roboto, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: bold;

  color-scheme: light dark;
  color: rgba(11, 223, 238, 0.87);
  /* background: linear-gradient(225deg, #7e7e7e, #444444); */
  background: rgb(40, 8, 223);
  background: radial-gradient(circle, rgb(238, 91, 6) 0%, rgb(7, 88, 14) 100%);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
